/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 *
 ***************************************************************************************************
 * Slovenian Colemak-DH angle mode variation
 ***************************************************************************************************
 * Host layout: SI
 * Host layout: US (missing Š, č, ž, €, °)
 *
 ***************************************************************************************************
 * Base layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    |  q  Q  |  w  W  |  f  F  |  p  P  |  b  B  |             |  j  J  |  l  L  |  u  U  |  y  Y  |  ;  :  |  =  +  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | EXT1   |  a  A  |  r  R  |  s  S  |  t  T  |  g  G  |             |  m  M  |  n  N  |  e  E  |  i  I  |  o  O  |  '  "  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |  z  Z  |  x  X  |  c  C  |  d  D  |  v  V  |             |  k  K  |  h  H  |  ,  <  |  .  >  |  /  ?  | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Space  |   | Enter  | SYM    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Symbols layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    |  1  !  |  2  @  |  3  #  |  4  $  |  5  %  |             |  6  ^  |  7  &  |  8  *  |  9  (  |  0  )  |  -  _  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | EXT2   |        |        |  š  Š  |        |        |             |        |        |  €  °  |  [  {  |  ]  }  |  `  ~  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |  ž  Ž  |        |  č  Č  |        |        |             |        |        |        |        |  \  |  | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Space  |   | Enter  | XXX    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Extend layer 1:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    | ESC    | WhUp   | GoBack | GoFwd  |        |             | Home   | PgDn   | PgUp   | End    | Del    | Print  |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    | Back   | WhDown |        |        |        |             | Left   | Down   | Up     | Right  | Back   | ESC    |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             | Undo   | Redo   |        |        |        | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Enter  |   | Enter  | EXT2   | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * Extend layer 2:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | TAB    | F1     | F2     | F3     | F4     | F5     |             | F6     | F7     | F8     | F9     | F10    |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    |        |        |        |        |        |             | Vol    | Vol Dn | Vol Up | F11    | F12    |        |
 *  |        |        |        |        |        |        |             | Mute   |        |        |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | Shift  |        |        |        |        |        |             |        | Bri Dn | Bri Up |        |        | Shift  |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  | Win    | Ctrl   | Enter  |   | Enter  | XXX    | L Alt  |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 ***************************************************************************************************
 * ZMK layer:
 ***************************************************************************************************
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  | XXX    | BT 0   | BT 1   | BT 2   | BT 3   | BT 4   |             |        |        |        |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        | BT CLR |        | EP ON  | EP OFF | Reset  |             | To US  | To SI  | To SI  |        |        |        |
 *  |        |        |        |        |        |        |             |        | Linux  | Win    |        |        |        |
 *  +--------+--------+--------+--------+--------+--------+             +--------+--------+--------+--------+--------+--------+
 *  |        |        |        |        |        | Bootl  |             |        |        |        |        |        |        |
 *  +--------+--------+--------+----+---+----+---+----+---+----+   +----+---+----+---+----+---+----+--------+--------+--------+
 *                                  |        |        |        |   |        |        |        |
 *                                  +--------+--------+--------+   +--------+--------+--------+
 *
 * - `BT 0-4`: Select the x bluetooth profile
 * - `BT CLR`: Clear bond between the keyboard and the host for the selected profile
 * - `Reset`: Reset this side of the keyboard
 * - `Bootl`: Reset this side of the keyboard to bootloader mode
 * - `EP ON`: Enable external power (enable VCC power output)
 * - `To US`: Switch keyboard layout to match US host layout
 * - `To SI Linux`: Switch keyboard layout to match SI host layout, Linux host
 * - `To SI Win`: Switch keyboard layout to match SI host layout, Windows host
 * - `EP OFF`: Disable external power (disable VCC power output)
 *
 ***************************************************************************************************
 * Notes:
 ***************************************************************************************************
 * - EXT2 layer is accessible when pressing: 'EXT' + 'SYM'
 * - ZMK layer is accessible when holding TAB key
 * - Double tab on SHIFT key toggles CAPS_LOCK
 * - Difference between "SI Linux" and "SI Windows" is in how a few special characters
 *   are implemented but for the end use there should be no difference
 *
 *   - `si_n6_lin`    -> `si_n6_win` (`^`)
 *   - `si_grave_lin` -> `si_grave_win` (`\``, `~`)
 *
 ***************************************************************************************************
 * TODO:
 ***************************************************************************************************
 * - wheel up/down not working
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys_si.h"


#define xxx &none
#define ___ &trans


#define SI_BASE_LIN 0  // Base layer, host layout: SI, Linux host
#define SI_BASE_WIN 1  // Base layer, host layout: SI, Windows host
#define US_BASE     2  // Base layer, host layout: US
#define SI_SYM_LIN  3  // Symbols layer, host layout: SI, Linux host
#define SI_SYM_WIN  4  // Symbols layer, host layout: SI, Windows host
#define US_SYM      5  // Symbols layer, host layout: US
#define L_EXT1      6  // Extend layer 1
#define L_EXT2      7  // Extend layer 2
#define L_ZMK       8  // ZMK layer

// Go to ZMK layer when holding TAB key
// On tab: TAB
// On hold: L_ZMK (ZMK layer)
#define TAB_L_ZMK  &lt L_ZMK TAB

// https://zmk.dev/docs/features/debouncing
&kscan0 {
    debounce-press-ms = <1>;    // Default is 5 ms
    debounce-release-ms = <4>;  // Default is 5 ms
};


/ {
    behaviors {
        #include "behaviors_mod_morph.dtsi"

        shft_caps: tap_dance_shift_caps_lock_toggle {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SHIFT_CAPS_LOCK_TOGGLE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer_si_lin {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P   |  B  |    |  J  |  L   |  U  |  Y  | ; : | = +  |
// | EXT1 |  A  |  R  |  S  |  T   |  G  |    |  M  |  N   |  E  |  I  |  O  | ' "  |
// | SHFT |  Z  |  X  |  C  |  D   |  V  |    |  K  |  H   | , < | . > | / ? | SHFT |
//                    | GUI | CTRL | SPC |    | ENT | SYM  | ALT |
            bindings = <
   TAB_L_ZMK  &kp SI_Q &kp SI_W &kp SI_F &kp SI_P  &kp SI_B    &kp SI_J &kp SI_L       &kp SI_U  &kp SI_Y &si_semi &si_equal
   &mo L_EXT1 &kp SI_A &kp SI_R &kp SI_S &kp SI_T  &kp SI_G    &kp SI_M &kp SI_N       &kp SI_E  &kp SI_I &kp SI_O &si_sqt
   &shft_caps &kp SI_Z &kp SI_X &kp SI_C &kp SI_D  &kp SI_V    &kp SI_K &kp SI_H       &si_comma &si_dot  &si_fslh &shft_caps
                                &kp LGUI &kp LCTRL &kp SPACE   &kp RET  &mo SI_SYM_LIN &kp LALT
            >;
        };

        base_layer_si_win {
            bindings = <
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___   ___ ___            ___ ___ ___ ___
               ___ ___ ___   ___ &mo SI_SYM_WIN ___
            >;
        };


        base_layer_us {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P   |  B  |    |  J  |  L   |  U  |  Y  | ; : | = +  |
// | EXT1 |  A  |  R  |  S  |  T   |  G  |    |  M  |  N   |  E  |  I  |  O  | ' "  |
// | SHFT |  Z  |  X  |  C  |  D   |  V  |    |  K  |  H   | , < | . > | / ? | SHFT |
//                    | GUI | CTRL | SPC |    | ENT | SYM  | ALT |
            bindings = <
   TAB_L_ZMK  &kp Q &kp W &kp F    &kp P     &kp B       &kp J   &kp L      &kp U     &kp Y   &kp SEMI &kp EQUAL
   &mo L_EXT1 &kp A &kp R &kp S    &kp T     &kp G       &kp M   &kp N      &kp E     &kp I   &kp O    &kp SQT
   &shft_caps &kp Z &kp X &kp C    &kp D     &kp V       &kp K   &kp H      &kp COMMA &kp DOT &kp FSLH &shft_caps
                          &kp LGUI &kp LCTRL &kp SPACE   &kp RET &mo US_SYM &kp LALT
            >;
        };

        sym_layer_si_linux {
// ----------------------------------------------------------------------------------------
// | TAB  | 1 ! | 2 @ | 3 # | 4 $ | 5 % |    | 6 ^ | 7 & | 8 * | 9 ( | 0 ) | - _  |
// | EXT2 |     |     | Š Š |     |     |    |     |     | € ° | [ { | ] } | ` ~  |
// | SHFT | ž ž |     | č Č |     |     |    |     |     |     |     | \ | | SHFT |
//                    | GUI |     | SPC |    | ENT | XXX | ALT |
            bindings = <
   ___        &kp SI_N1   &si_n2 &kp SI_N3   &kp SI_N4 &kp SI_N5      &si_n6_lin &si_n7 &si_n8   &si_n9   &si_n0   &kp SI_MINUS
   &mo L_EXT2 xxx         xxx    &kp SI_SCAR xxx       xxx            xxx        xxx    &si_euro &si_lbkt &si_rbkt &si_grave_lin
   ___        &kp SI_ZCAR xxx    &kp SI_CCAR xxx       xxx            xxx        xxx    xxx      xxx      &si_bslh ___
                                 ___         ___       ___            ___        xxx    ___
            >;
        };
        // Changing only
        // - `&si_n6_lin`    -> `&si_n6_win`
        // - `&si_grave_lin` -> `&si_grave_win`
        sym_layer_si_win {
            bindings = <
   ___        &kp SI_N1   &si_n2 &kp SI_N3   &kp SI_N4 &kp SI_N5      &si_n6_win &si_n7 &si_n8   &si_n9   &si_n0   &kp SI_MINUS
   &mo L_EXT2 xxx         xxx    &kp SI_SCAR xxx       xxx            xxx        xxx    &si_euro &si_lbkt &si_rbkt &si_grave_win
   ___        &kp SI_ZCAR xxx    &kp SI_CCAR xxx       xxx            xxx        xxx    xxx      xxx      &si_bslh ___
                                 ___         ___       ___            ___        xxx    ___
            >;
        };


        sym_layer_us {
// ----------------------------------------------------------------------------------------
// | TAB  | 1 ! | 2 @ | 3 # | 4 $ | 5 % |    | 6 ^ | 7 & | 8 * | 9 ( | 0 ) | - _  |
// | EXT2 |     |     |     |     |     |    |     |     |     | [ { | ] } | ` ~  |
// | SHFT |     |     |     |     |     |    |     |     |     |     | \ | | SHFT |
//                    | GUI |     | SPC |    | ENT | XXX | ALT |
            bindings = <
   ___        &kp N1 &kp N2 &kp N3 &kp N4 &kp N5      &kp N6 &kp N7 &kp N8 &kp N9   &kp N0   &kp MINUS
   &mo L_EXT2 xxx    xxx    xxx    xxx    xxx         xxx    xxx    xxx    &kp LBKT &kp RBKT &kp GRAVE
   ___        xxx    xxx    xxx    xxx    xxx         xxx    xxx    xxx    xxx      &kp BSLH ___
                            ___    ___    ___         ___    xxx    ___
            >;
        };

        ext1_layer {
// -----------------------------------------------------------------------------------------
// | TAB  | Esc   | WhUp   | GoBack | GoFwd  |        |    | Home   | PgDown | PgUp  | End   | Del  | Print |
// | XXX  | Back  | WhDown |        |        |        |    | Left   | Down   | Up    | Right | Back | Esc   |
// | SHFT |       |        |        |        |        |    | Undo   | Redo   |       |       | Del  |       |
//                         | GUI    | CTRL   | Return |    | Return | EXT2   | L ALT |
            bindings = <
   ___ &kp ESC  &kp K_SCROLL_UP   &kp C_AC_BACK &kp C_AC_FORWARD xxx          &kp HOME &kp PG_DN  &kp PG_UP &kp END   &kp DEL  &kp PSCRN
   xxx &kp BSPC &kp K_SCROLL_DOWN xxx           xxx              xxx          &kp LEFT &kp DOWN   &kp UP    &kp RIGHT &kp BSPC &kp ESC
   ___ xxx      xxx               xxx           xxx              xxx          &kp UNDO &kp K_REDO xxx       xxx       &kp DEL  ___
                                  ___           ___              &kp RET      ___      &mo L_EXT2 ___
            >;
        };

        ext2_layer {
// -----------------------------------------------------------------------------------------
// | TAB  | F1    | F2     | F3     | F4     | F5     |    | F6       | F7       | F8     | F9      | F10  |       |
// | XXX  |       |        |        |        |        |    | Vol Mute | Vol Down | Vol Up | F11     | F12  |       |
// | SHFT |       |        |        |        |        |    | Bri Max  | Bri Down | Bri Up | Bri Min |      |       |
//                         | GUI    | CTRL   | Return |    | Return   | XXX      | L ALT |
            bindings = <
   ___ &kp F1 &kp F2 &kp F3 &kp F4 &kp F5       &kp F6     &kp F7       &kp F8       &kp F9  &kp F10 xxx
   xxx xxx    xxx    xxx    xxx    xxx          &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP &kp F11 &kp F12 xxx
   ___ xxx    xxx    xxx    xxx    xxx          xxx        &kp C_BRI_DN &kp C_BRI_UP xxx     xxx     ___
                     ___    ___    ___          ___        xxx          ___
            >;
        };

        zmk_layer {
// -----------------------------------------------------------------------------------------
// | XXX  | BT 0  | BT 1   | BT 2   | BT 3   | BT 4   |        |       |           |           |      |      |      |
// |      | BTCLR |        | EP ON  | EP OFF | Reset  |        | To US | To SI WIN | To SI WIN |      |      |      |
// |      |       |        |        |        | Bootl  |        |       |           |           |      |      |      |
//                         |        |        |        |        |       |           |           |
            bindings = <
   xxx &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2     &bt BT_SEL 3      &bt BT_SEL 4     xxx         xxx             xxx             xxx xxx xxx
   xxx &bt BT_CLR   xxx          &ext_power EP_ON &ext_power EP_OFF &reset           &to US_BASE &to SI_BASE_LIN &to SI_BASE_WIN xxx xxx xxx
   xxx xxx          xxx          xxx              xxx               &bootloader      xxx         xxx             xxx             xxx xxx xxx
                                 xxx              xxx               xxx              xxx         xxx             xxx
            >;
        };
    };
};
