/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys_si.h>
#include <dt-bindings/zmk/bt.h>

#define xxx &none
#define ___ &trans


// My Slovenian Colemak-DH angle mode (missing some SI symbols...)
// Host layout: US
#define BASE 0  // Base layer
#define SYM  1  // Symbols layer
#define EXT  2  // Extend layer

// TODO: use hold-tab on TAB (tab=TAB, hold=&mo BT)

// https://zmk.dev/docs/features/debouncing
&kscan0 {
    debounce-press-ms = <1>;    // Default is 5 ms
    debounce-release-ms = <4>;  // Default is 5 ms
};

/ {
    //behaviors {
        //si-semi-colo: si_semicolon_colon {
        //  compatible = "zmk,behavior-key-press-custom";
        //  label = "SI_SEMI_COLO";
        //  #binding-cells = <0>;
        //  bindings = <&kp SEMI>, <&kp COLON>;
        //  mods = <(MOD_LALT)>;
        //};
    //};

    keymap {
        compatible = "zmk,keymap";

        si_colemak_base_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P   |  B  |    |  J  |  L   |  U  |  Y  | ; : | = +  |
// | EXT  |  A  |  R  |  S  |  T   |  G  |    |  M  |  N   |  E  |  I  |  O  | ' "  |
// | SHFT |  Z  |  X  |  C  |  D   |  V  |    |  K  |  H   | , < | . > | / ? | SHFT |
//                    | GUI | CTRL | SPC |    | ENT | SYM  | ALT |
            bindings = <
   &kp TAB   &kp Q &kp W &kp F    &kp P     &kp B       &kp J   &kp L   &kp U     &kp Y   &kp SEMI &kp EQUAL
   &mo EXT   &kp A &kp R &kp S    &kp T     &kp G       &kp M   &kp N   &kp E     &kp I   &kp O    &kp SQT
   &kp LSHFT &kp Z &kp X &kp C    &kp D     &kp V       &kp K   &kp H   &kp COMMA &kp DOT &kp FSLH &kp RSFT
                         &kp LGUI &kp LCTRL &kp SPACE   &kp RET &mo SYM &kp LALT
            >;
        };

        si_colemak_sym_layer {
// ----------------------------------------------------------------------------------------
// | TAB  | 1 ! | 2 @ | 3 # | 4 $ | 5 % |    | 6 ^ | 7 & | 8 * | 9 ( | 0 ) | - _  |
// | EXT  |     |     |     |     |     |    |     |     |     | [ { | ] } | ` ~  |
// | SHFT |     |     |     |     |     |    |     |     |     |     | \ | | SHFT |
//                    | GUI |     | SPC |    | ENT | SYM | ALT |
            bindings = <
   ___ &kp N1 &kp N2 &kp N3 &kp N4 &kp N5      &kp N6 &kp N7 &kp N8 &kp N9   &kp N0   &kp MINUS
   ___ xxx    xxx    xxx    xxx    xxx         xxx    xxx    xxx    &kp LBKT &kp RBKT &kp GRAVE
   ___ xxx    xxx    xxx    xxx    xxx         xxx    xxx    xxx    xxx      &kp BSLH ___
                            ___    ___    ___         ___    ___    ___
            >;
        };

        si_colemak_ext_layer {
// -----------------------------------------------------------------------------------------
// | TAB  | Esc   | WhUp   | GoBack | GoFwd  |        |    | Home   | PgDown | PgUp  | End   | Del  | Print |
// | EXT  | Back  | WhDown |        |        |        |    | Left   | Down   | Up    | Right | Back | Esc   |
// | SHFT | BTCLR | BT1    | BT2    | BT3    | BT4    |    | Undo   | Redo   |       |       | Del  |       |
//                         | GUI    | CTRL   | Return |    | Return | SYM    | L ALT |
            bindings = <
   ___ &kp ESC    &kp K_SCROLL_UP   &kp K_BACK   &kp K_FORWARD xxx              &kp HOME &kp PG_DN  &kp PG_UP &kp END   &kp DEL  &kp PSCRN
   ___ &kp BSPC   &kp K_SCROLL_DOWN xxx          xxx           xxx              &kp LEFT &kp DOWN   &kp UP    &kp RIGHT &kp BSPC &kp ESC
   ___ &bt BT_CLR &bt BT_SEL 0      &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3     &kp UNDO &kp K_REDO xxx       xxx       &kp DEL  ___
                                    ___          ___           &kp RET          ___      ___        ___
            >;
        };

    };
};
